
  .closed {
    position: absolute;
    cursor: pointer;
    margin-right: 100px;
    margin-left: 700px;
    margin-top: -100px;
  }

  .closed img {
    width: 25%;
  }

.cart {
  width: 5%;
}

.img {
  width: 5%;
}
